<a href="https://colab.research.google.com/github/SaiMudigonda/Saikumar_INFO5731_Spring2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random #Importing Random numbers
random_num = random.sample(range(100), 12)
random_num.sort()
print ('Ascending order of random numbers:', random_num)

random_num.sort(reverse=True)
print ('Descending order of random numbers:', random_num)

Average = sum(random_num) / len(random_num)

print('Average of random numbers:', Average)

Ascending order of random numbers: [0, 18, 22, 23, 29, 35, 38, 39, 61, 91, 96, 97]
Descending order of random numbers: [97, 96, 91, 61, 39, 38, 35, 29, 23, 22, 18, 0]
Average of random numbers: 45.75

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# user to enter two sentences.
print("Please enter two sentences")
First = input("Enter first sentence: ")
Second = input("Enter second sentence: ")

import re
firstlist= re.findall(r"[\w']+|[^\w\s]", First)
print (firstlist)
secondlist= re.findall(r"[\w']+|[^\w\s]", Second)
print (secondlist)

Please enter two sentences
Enter first sentence: Hello! I'm Sai. How are you?
Enter second sentence: Hi Sai, I'm Good.
['Hello', '!', "I'm", 'Sai', '.', 'How', 'are', 'you', '?']
['Hi', 'Sai', ',', "I'm", 'Good', '.']

In [ ]:
#Compare the two sentences
common = []
for ele in secondlist:
  if ele in firstlist:
    common.append(ele)
print(common)

['Sai', "I'm", '.']

In [ ]:
#Remove any punctuation from the sentence
Punctuations = ''''!()-[]{};:'"\,<>./?@#$%^&*_~'''
withoutpunct1 = ""
for i in First:
  for char in i:
    if char not in Punctuations:
         withoutpunct1 = withoutpunct1+ char
print(withoutpunct1)

withoutpunct2 = ""
for b in Second:
  for char in b:
    if char not in Punctuations:
         withoutpunct2 = withoutpunct2 + char
print(withoutpunct2)

Hello Im Sai How are you
Hi Sai Im Good

In [ ]:
#Count the number of vowels in the sentences
vowels = 'aeiou'

count = {}.fromkeys(vowels,0)

for i in First:
  for char in i:
     if char in count:
         count[char] += 1

print(count)

for b in Second:
  for char in b:
     if char in count:
         count[char] += 1
print(count)

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
def Sphere_volume(r, pi = 3.1415926535897931):
  return (4/3) * pi * (r ** 3)

print('r   v')
for r in range(10):
  print (str(r) +" " +str(Sphere_volume(r)))

r   v
0 0.0
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

###    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [1]:
# Your code here
import pandas as pd

from google.colab import files
uploaded = files.upload()

Saving Assignment1_denton_housing.txt to Assignment1_denton_housing.txt

In [3]:
#4.1 Difference in the number of Occupied Housing Units
import pandas as pd
housing_df = pd.read_csv('Assignment1_denton_housing.txt')
df_opd = housing_df[housing_df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
df_opd.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [15]:
#4.2 calculate the percentage of housing units which are vacant an occupied.

Vacant_list = housing_df[housing_df['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value']

Occupied_list= housing_df[housing_df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value']

Total_list = housing_df[housing_df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value']

year = housing_df[housing_df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year']
Vacant = [str((vacant/total)*100)+' %' for vacant,total in zip(Vacant_list,list_total)]
occupied = [str((occupied/total)*100)+' %' for occupied, total in zip(Occupied_list, Total_list)]
final_df = pd.DataFrame(list(zip(year,Vacant, occupied)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
final_df

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [12]:
#4.3 valued and years in which the highest number of housing units were vacant and occupied.

df_vacant = housing_df[housing_df['title_field'] == 'Vacant Housing Units']
Max_difference= pd.concat([df_opd[df_opd['value'] == df_opd['value'].max()],df_vacant[df_vacant['value'] == df_vacant['value'].max()]])
print(Max_difference[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [16]:
 import statistics
print('Harmonic mean  is {0}'.format(statistics.harmonic_mean(Total_list)))

Harmonic mean  is 44398.28543969185